extends layout

block content
  h1 Donate
  p Thank you for donating!
  form(method='POST' action='')
    div
      label(for='name') Name:
      input#name(type='text' name='name')

    div
      label(for='email') Email address:
      input#email(type='email' name='email')

    div
      label(for='amount') Amount:
      input#amount(type='number' name='amount' min='1000')

    div
      button(type='submit') Next